<h1>Add char</h1>
<form action="/chars" method="POST">
    <label for="">Name: </label>
    <input type="text" name="name">

    <label for="">Quote: </label>
    <input type="text" name="quote">

    <label for="">Image URL: </label>
    <input type="text" name="image_url">

    <button>Add char</button>
</form>